
<pre>
<center><b><h1>Python Programming - 2301CS404</b></center>
<center><b><h1>Lab - 2</b></center>    
<pre>

### 01) WAP to print “Hello World..!!”

In [1]:
print("Hello world")

Hello world

### 02) WAP to accept your name and display a welcome message.
#### Input: Priya
#### Output: Hello Priya, welcome to Python Lab.

In [3]:
name = input('Enter your name: ')
print(f'Hello {name}, welcome to Python Lab.')

Enter your name:  priya

Hello priya, welcome to Python Lab.

### 03) WAP to accept three integers and display the numbers, their sum, and average.
#### Input: 10 20 30
#### Output: 
##### Numbers: 10 20 30
##### Sum: 60
##### Average: 20.0

In [24]:
a, b, c = map(int, input("Enter three integers: ").split())

total = a + b + c
average = total / 3

print("Numbers:", a, b, c)
print("Sum:", total)
print("Average:", average)

Enter three integers:  12 1 2

Numbers: 12 1 2
Sum: 15
Average: 5.0

### 04) WAP to accept name (string), age (int), and percentage (float).
#### Input : Riya,18,92.5
#### Output : 
##### Name: Riya  Type: <class 'str'>
##### Age: 18  Type: <class 'int'>
##### Percentage: 92.5  Type: <class 'float'>

In [9]:
name = input("Enter name:")
print(type(name))
age = int(input("Enter Age"))
print(type(age))
percentage = float(input("Enter percentage"))
print(type(percentage))

Enter name: siya

<class 'str'>

Enter Age 21

<class 'int'>

Enter percentage 78

<class 'float'>

### 05) WAP to print folowing message using custom separator and end.
#### Ouutput : Python | Programming | Basics###

In [11]:
print("Python", "Programming", "Basics", sep=' | ', end='###')

Python | Programming | Basics###

### 06) WAP to accept a value and display its value, type, and memory id.
#### Input : hello
#### Output : 
##### Value: hello
##### Type: <class 'str'>
##### ID: 140712345678912

In [14]:
str = input("Enter string")
print(type(str))
print(id(140712345678912))

Enter string hello world

<class 'str'>
1982565655056

### 07) WAP to assign a value to a variable, print id, reassign a new value, and print id again.
#### Output :
##### Original ID of a: 140712345678912
##### New ID of a: 140712345678960

In [15]:
a = 10
print("Original ID of a:", id(a))
a = 20
print("New ID of a:", id(a))

Original ID of a: 140721312801992
New ID of a: 140721312802312

### 08) WAP to print multiple lines using a single print().
#### Output:
##### Welcome to Python
##### This is the second lab
##### Enjoy coding!

In [16]:
print('Welcome to python')
print('This is the second lab')
print('Enjoy coding!')

Welcome to python
This is the second lab
Enjoy coding!

### 09) WAP to display following table of items with proper alignment.
#### Output :
| Sr No | Name        | Subject | Grade | Percentage |
| ----: | ----------- | ------- | :---: | ---------: |
|     1 | Nisha Patel | Math    |   A   |         92 |
|     2 | Aarav Modi  | Science |   B+  |         85 |
|     3 | Jiya Shah   | English |   A+  |         96 |

In [23]:
print(f"{'Sr No':<7}{'Name':<15}{'Subject':<10}{'Grade':<8}{'Percentage':<10}")
##print("-" * 49)

print(f"{1:<6}{'Nisha Patel':<15}{'Math':<10}{'A':<8}{92:<10}")
print(f"{2:<6}{'Aarav Modi':<15}{'Science':<10}{'B+':<8}{85:<10}")
print(f"{3:<6}{'Jiya Shah':<15}{'English':<10}{'A+':<8}{96:<10}")

Sr No  Name           Subject   Grade   Percentage
1     Nisha Patel    Math      A       92
2     Aarav Modi     Science   B+      85
3     Jiya Shah      English   A+      96

### 10) WAP to accept a float number and display with 2 decimals, 3 decimals, and width 10.
#### Input : 37.2567
#### Output :
##### 2 decimals: 37.26
##### 3 decimals: 37.257
##### Width 10:      37.26

In [26]:
num = float(input("Enter a float number: "))
print("2 decimals:", format(num, ".2f"))
print("3 decimals:", format(num, ".3f"))
print("Width 10:", format(num, "10.2f"))

Enter a float number:  37.2567

2 decimals: 37.26
3 decimals: 37.257
Width 10:      37.26

### 11) WAP to accept two integers and display sum, difference, and product using f-strings.
#### Input : 12 8
#### Output :
##### Sum = 20
##### Difference = 4
##### Product = 96

In [28]:
a = int(input("Enter a number"))
b = int(input("Enter a number"))
print (f" sum = {a + b }")
print (f" product = {a*b}")
print (f"difference = {a-b}")

Enter a number 12
Enter a number 8

 sum = 20
 product = 96
difference = 4

### 12) WAP to accept date in dd mm yyyy format and display in multiple formats.
#### Input : 01 12 2025
#### Output :
##### 01/12/2025
##### 2025-12-01

In [30]:
dd, mm, yyyy = input("Enter date (dd mm yyyy): ").split()
print(f"{dd}/{mm}/{yyyy}")
print(f"{yyyy}-{mm}-{dd}")

Enter date (dd mm yyyy):  01 12 2025

01/12/2025
2025-12-01

### 13) WAP to calculate area and perimeter of a circle.

In [31]:
radius = float(input("Enter the radius of the circle: "))
pi = 3.14

area = pi * radius * radius
perimeter = 2 * pi * radius

print("Area of the circle:", area)
print("Perimeter of the circle:", perimeter)

Enter the radius of the circle:  10

Area of the circle: 314.0
Perimeter of the circle: 62.800000000000004

### 14) WAP to convert degree into Fahrenheit and vice versa.

In [33]:
print("1. Celsius to Fahrenheit")
print("2. Fahrenheit to Celsius")
choice = int(input("Enter your choice: "))
if choice == 1:
    cel = float(input("Enter temperature in Celsius: "))
    fah = (celsius * 9/5) + 32
    print("Temperature in Fahrenheit:", fah)
elif choice == 2:
    fah = float(input("Enter temperature in Fahrenheit: "))
    cel = (fahrenheit - 32) * 5/9
    print("Temperature in Celsius:", cel)
else:
    print("Invalid choice")

1. Celsius to Fahrenheit
2. Fahrenheit to Celsius

Enter your choice:  12

Invalid choice

### 15) WAP to get the distance from user into kilometer, and convert it into meter, feet, inches and centimeter.

In [34]:
km = float(input("Enter distance in kilometers: "))
meter = km * 1000
centimeter = km * 100000
feet = km * 3280.84
inches = km * 39370.1

print("Distance in meters:", meter)
print("Distance in centimeters:", centimeter)
print("Distance in feet:", feet)
print("Distance in inches:", inches)

Enter distance in kilometers:  100

Distance in meters: 100000.0
Distance in centimeters: 10000000.0
Distance in feet: 328084.0
Distance in inches: 3937010.0